# Endpoint do SigNoz Cloud (gRPC)
# Exemplo: ingest.us.signoz.cloud:443
OTLP_ENDPOINT=""

# Token de autenticação do SigNoz Cloud
OTEL_EXPORTER_OTLP_HEADERS=""

# Ambiente (development | homol | production)
NODE_ENV="homol"
